:host {
  display: block;
  padding: 3px;
}
mat-card {
  background-color: transparent;
  position:relative;
  border-width: 0px;
}

mat-card.desktop  {
  box-shadow: var(--mat-sys-surface-container-high) 0px 0px 0px 1px;
}


mat-card.desktop.selected, mat-card.desktop:active {
  box-shadow: var(--mat-sys-surface-container-high) 0px 0px 0px 2px;
}

.background {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  border-radius: inherit;
  display: block;
  z-index: -1;
  background-color: var(--mat-sys-on-background);
  opacity: 0;
}

.mat-mdc-card:hover, .mat-mdc-card:focus, .mat-mdc-card.selected {
  cursor: pointer;
  overflow: hidden;
  .background {
    opacity: 0.015;
  }
}

mat-card.selected .background {
  opacity: 0.00;  
  animation: select-animation 0.5s;
}

@keyframes select-animation {
  0% {
    opacity: 0.015;
  }
  20% {
    opacity: 0.025;;
  }
  100% {
    opacity: 0.015;
  }
}

.alertColor {
  color: var(--mat-sys-error);
}

.phoneOrTablet mat-card-content {
  padding: 8px;
}

.phoneOrTablet .selectableCard {
  font-size: 0.85em;

  gap: 2px 4px;
  padding-bottom: 5px;
  grid-template-columns: max-content auto 130px;
  .repeat {
    display: none;
  }
  .due-date {
    grid-column: 3;
    display:inline-flex;

  }
}

.phone .selectableCard {
  font-size: 0.77em;
  gap: 2px 5px;
  grid-template-columns: max-content auto 110px;
  .repeat {
    display: none;
  }
  .due-date {
    grid-column: 3;
    grid-row:2;
    display:inline-flex;
  }
}

.selectableCard {
  display: grid;
  grid-template-columns: max-content max-content auto 150px;
  grid-template-rows: 50% 50%;
  padding-bottom: 3px;
  gap: 6px 12px;
  align-items: center;
  h3 {
    grid-row: 1 ;
    grid-column: 2 / span 2;
    margin: 0;
    font-weight: 400;
  }
  
  .lastEntry {
    grid-row: 2;
    grid-column: 2;
    white-space: nowrap;
  }
  
  .repeat {
    grid-column: 3;
    grid-row: 2;
    display:inline-flex;
    align-items: center;
  }
  
  .due-date {
    grid-column: 4;
    grid-row: 1 / span 2;
    display:inline-flex;
    align-items: center;  text-overflow: ellipsis;
  }
}
app-category-icon {
  grid-row: 1 / span 2;
  grid-column: 1;
  margin-right: 16px;
}

.phoneOrTablet app-category-icon {
  margin-right: 8px;
}

mat-icon {
  margin-right: 10px;
}
