:host {
  display: block;
}
.display {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 32px;
  gap: 16px;
}



.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  flex: 1;
  gap: 8px;
  div {
    flex: 1;
  }
}