<div class="main">
    <mat-sidenav-container class="container" autosize>
        <mat-sidenav [mode]="secodaryNavService.isToggleEnabled() ? 'over': 'side'" [opened]="secodaryNavService.isOpen()" (openedChange)="openchanged($event)" #sidenav>
            <div class="navGroup">
                @if(!store.isLoading()){
                    @if (store.lists().length >= 2) {
                        <a iconbutton icon="folder_open" title="Alle Tasks" [routerLink]="'all'" [badgeCounter]="store.overallDueCount()" (click)="secodaryNavService.closeSidenav()"></a>         
                        <div class="spacer"></div>
                    }
                    @for (list of store.lists(); track list.id) {
                        @if(!list.isInvitation) {
                            <a iconbutton [icon]="list.icon || 'schedule'" [title]="list.name" [routerLink]="list.id" [badgeCounter]="list.dueCount || 0" (click)="secodaryNavService.closeSidenav()"></a>         
                        } @else {
                            <a iconbutton [icon]="list.icon || 'schedule'" [title]="list.name" class="invite" [routerLink]="'invitation/' + list.id" [badgeCounter]="0" (click)="secodaryNavService.closeSidenav()"></a>
                        }

                    }
                }
            </div>
           
            <div class="navGroupEnd">
                <a iconbutton icon="add" title="Neue Liste" [dotted]="true" (click)="addNewList()"></a>         
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
