:host {
  display: inline-block;
  margin-left: 16px;
}

.phone:not(:hover):not(:active):not(:focus):not(:has(input:focus)) {
  .search-input {
    input {
      width:1px;
    }
    .search-input:hover {
      input {
        display: inline-block;
      }
    }
  }
}

.phone:has(input:focus), .phone:hover {
  position: absolute;
  height: 55px;
  left:0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  .search-input {
    width: 90%;
  }
}

.search-input {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 100px;
  background-color: var(--mat-sys-surface-container);
  padding-left: 8px;
  max-width: 300px;
  column-gap: 10px;
  
  input {
    flex: 1;
    padding-left:40px;
    margin-left:-36px;
    border: none;
    outline: none;
    background-color: inherit;
    background-color: unset;
    height: 40px;

  }
  .searchIcon {
    color: var(--mat-text-primary-contrast);
    cursor: text;
  }

  button:not(.visible){
    visibility: hidden;
  }
}