<mat-toolbar colorSchemeClass>
  <div class="toolbar-content">
    @if(secondaryNavService.isToggleEnabled() && authStore.isAuthenticated()) {
        <button mat-icon-button class="responsive-hamburger" aria-label="icon-button with menu icon" (click)="secondaryNavService.toogleSideNav()" [class.opened]="secondaryNavService.isOpen()">
            <mat-icon>menu</mat-icon>
          </button>

    }
    @else {
      <span class="app-name"><img src="/assets/logo_rtrkr.svg" alt="RTRKR Logo"></span>
    }
    <app-global-search></app-global-search>
    <span class="spacer"></span>
    <app-theme-switcher></app-theme-switcher>
    <app-user-notifications></app-user-notifications> 

    <app-user></app-user>
  </div>
</mat-toolbar>