.app {
    display: flex;
    align-items: stretch;
    flex-flow: column nowrap;
    justify-content: stretch;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.app-main {
    position: relative;
    flex: 1;
}