
<app-detail-header-bar>
    @if(!store.isLoading() && store.hasSelectedEntry()) {

    <div class="toolbar">
    <div>{{store.selectedEntry()?.name ?? ''}} </div>  
    <button mat-icon-button (click)="delete()"  [disabled]="store.isInEditMode()"><mat-icon>delete</mat-icon></button>

    <button mat-icon-button (click)="edit()" [disabled]="store.isInEditMode()"><mat-icon>edit</mat-icon></button>
    </div>
    }
</app-detail-header-bar>
 
@if(store.isLoading()){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
@else {
    @if(store.hasSelectedEntry()){
        @if(store.updating()) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        @if(!store.isInEditMode()){
            <div class="display">
                <app-display-value > 
                    <app-display-label i18n>Kategorie</app-display-label>
                    <app-display-content>{{store.selectedEntry()!.category.categoryName}}</app-display-content>           
                </app-display-value> 
                <app-display-value > 
                    <app-display-label i18n>Letzte Eintragung am</app-display-label>
                    <app-display-content>{{store.selectedEntry()?.lastEntryDate != null ? (store.selectedEntry()?.lastEntryDate | date) : "Nie"}}</app-display-content>    
                </app-display-value>
                <app-display-value> 
                    <app-display-label i18n>Wiederholung</app-display-label>
                    <app-display-content>
                        <app-recurrance-config-view [recurrance]="store.selectedEntry()?.recurrenceConfig" [showIcon]="false"></app-recurrance-config-view>
                    </app-display-content>    
                </app-display-value>
                <app-display-value >
                    <app-display-label i18n>Fällig</app-display-label>
                    <app-display-content>
                        {{store.selectedEntry()?.dueDate ? (store.selectedEntry()!.dueDate | date) : '-'}}
                    </app-display-content>    
                </app-display-value>
            </div>    
            <div class="action-bar">
                <button mat-flat-button [matMenuTriggerFor]="doneMenu" i18n [disabled]="!store.canCompleteToday()">Erledigen</button>
                <mat-menu #doneMenu="matMenu" >
                <button mat-menu-item (click)="completedToday()" i18n [disabled]="!store.canCompleteToday()">Heute</button>
                <button mat-menu-item (click)="completedYesterday()" i18n [disabled]="!store.canCompleteYesterday()">Gestern</button>
                <button mat-menu-item (click)="completedChooseDate()" i18n [disabled]="!store.canCompleteYesterday()">Datum wählen</button>
                </mat-menu>
                @if(! store.selectedEntry()?.dueDate) {
                    <button mat-button i18n (click)="setManualDueDate()">Planen</button>
                }
                @if(store.selectedEntry()?.dueDate ) {
                    <button mat-button [matMenuTriggerFor]="postponeMenu" i18n [disabled]="!store.canPostpone()">Verschieben</button>
                    <mat-menu #postponeMenu="matMenu" >
                        <button mat-menu-item (click)="postponeOneDay()" i18n>ein Tag</button>
                        <button mat-menu-item (click)="postponeOneWeek()" i18n>eine Woche</button>
                        <button mat-menu-item (click)="postponeChooseDate()" i18n>Auf Datum verschieben</button>
                    </mat-menu>
                }
            </div>
            <app-history-view [historyElements]="store.selectedEntry()?.history"></app-history-view>
        }@else {
            <app-retracker-editor-basedata ></app-retracker-editor-basedata>    
        }
}
   


}
 