<div class="content">
    <div class="text">
<h1>Halte fest, was relevant ist <br/> Plane für dich selbst oder im Team</h1>
<p class="subheader"> Re-Tracker macht es leicht, festzuhalten, wann Du Dinge erledigt hast. Im Gegensatz zu klassischen Kalendern erinnern wir Dich an die erneute Erledigung von Aufgaben in Abhängigkeit von dem Datum der Durchführung.</p>
<div class="clickWrapper">
    <button mat-flat-button>Ausprobieren</button>
    <p class="small">Dauerhaft kostenlos. Keine Kreditkarte erfoderlich </p>
    </div>
</div>

<div class="image">
    <img src="/assets/Retracker_Snapshot.png">
</div>
</div>
